<!DOCTYPE html>
<html lang="en"><head style="background-image:url(img/service3.jpeg)">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manufacturer of Low Voltage Control Panels &amp; Switchboards</title>
    <link href="index_files/all.css" rel="stylesheet">
    <link rel="stylesheet" href="index_files/bootstrap.css">
    <link rel="stylesheet" href="index_files/animate.css">
    
   <link rel="apple-touch-icon" sizes="57x57" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://switchgreenltd.com.ng/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="https://switchgreenltd.com.ng/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://switchgreenltd.com.ng/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="https://switchgreenltd.com.ng/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://switchgreenltd.com.ng/img/favicon/favicon-16x16.png">
<link rel="manifest" href="https://switchgreenltd.com.ng/img/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
    <!-- Favicon -->
   
   </head><body><nav class="navbar navbar-expand-lg  navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="https://switchgreenltd.com.ng/index"><img src="index_files/company%2520logo.png" style="height:100px;" class="image" href="https://switchgreenltd.com.ng/Home"></a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03" style="margin-left:20px;">
        <ul class="navbar-nav my-1 mr-auto  mt-2 mt-lg-0">
            <li class="nav-item active" style="font-size:20px; margin-left:25px;">
                <a class="nav-link" href="index.html" style="color:#808080;">HOME<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" style="font-size:20px; margin-left:25px;">
                <a class="nav-link" href="Company.html" style="color:#808080;">COMPANY</a>
            </li>
            <li class="nav-item" style="font-size: 20px; margin-left:25px;">
                <a class="nav-link" href="Product.html" style="color:#808080;">PRODUCTS</a>
            </li>
            <li class="nav-item" style="font-size: 20px; margin-left:25px;">
                <a class="nav-link" href="Services.html" style="color:#808080;">SERVICES</a>
            </li>
            <li class="nav-item" style="font-size: 20px; margin-left:25px;">
                <a class="nav-link" href="Contact_us.html" style="color:#808080;">CONTACT</a>
            </li>
            <li class="nav-item" style="font-size: 20px; margin-left:25px;">
                <a class="nav-link" href="https://switchgreenltd.com.ng/blog/" style="color:#808080;">BLOG</a>
            </li>
        </ul>
  

    </div>
</nav>
    <style>
    #cool {
        padding-top: 5px;
        font-family: Arial Rounded MT Bold;
        font-size: 40px;

    }

    .cool3 {
        background-color: #F0F8FF;
        color: rgb(128, 128, 128);
        padding: 50px;
        text-align: center;
        font-size: 20px;
        border-radius: 20px 20px;

    }
    
    .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
    </style>

   


    <!---carousel--->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="index_files/our%2520engineers.jpg" class="d-block w-100" style="padding-bottom:100px;">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <div class="carousel-item active" ;="">
                <img src="index_files/PARTNER2.jpg" alt="our partnership" class="d-block w-100" style="padding-bottom:100px;">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <div class="carousel-item">
                <img src="index_files/switchgear%2520configurations5.jpg"class="d-block w-100" style="padding-bottom:100px;">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            
             <div class="carousel-item">
                <img src="index_files/switchgreen_design2.jpg" class="d-block w-100" style="padding-bottom:100px;">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>

            <div class="carousel-item">
                <img src="index_files/low%2520voltage%2520solution3.jpg" class="d-block w-100" style="padding-bottom:100px;">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!--carousel ends-->
    <div class="container-fluid">
        <h2 id="cool" style="color:rgb(128, 128, 128);" class="animated ZoomIn">Welcome to Switchgreen Energy Limited
        </h2><br>
        <p style=" Adobe Myungjo Std M; color:rgb(128, 128, 128);" class="animated ZoomIn">SwitchGreen
 Energy Ltd. is the exclusive Nigerian partner for the reputable A/S 
Logstrup-Steel Denmark. A maker of industrial low-voltage panels and 
switchboards since 1958. Although we are new in the Nigerian electrical 
installation market, SwitchGreen builds on the quality and experience of
 our exemplary Scandinavian partner.

We design, construct, install, and maintain custom low voltage panels 
using Logstrup modules. From individuals with ambitious projects to 
larger organizations and governments. Our modular systems are flexible 
enough for all clients, including heavy-duty, and demanding 
applications.

Logstrup's modular systems feature 2-mm steel profiles and meet or 
exceed the IEC 61439-1/2 standards. Our business is making them directly
 available to Nigerian businesses.

</p> 
        <br>
        <p style=" Adobe Myungjo Std M;color:rgb(128, 128, 128)" class="animated ZoomIn" ;="">Our focus is to assemble and distribute large-scale,
            ambitious projects;
            for individuals,
            corporate organizations and governments. And as such we try to reduce financial risks and improve
            decision making by ensuring safe delivery of right-priced goods and services. <strong>We are in partnership with A/S Logstrup-steel Denmark</strong><a href="https://www.logstrup.com/"> <span style="color:brown">Read more</span></a></p>
        <section class="container-fluid" style="background-color: #F0F8FF;font-size: 20px; padding-top:70px;padding-bottom:70px">
            <p style=" Adobe Myungjo Std M; margin:0px;">We are number #1 in electrical installations, switchgear, control panels and distribution of Logstup modules in Nigeria.
                <button class="btn btn-dark"><a href="https://www.logstrup.com/modular-system/logstrup-switchboards/"><span style="color:white" ;="">Read more</span></a>
                    <i class="fa fa-angle-double-right icon-double-angle-right"></i></button>
            </p>
        </section>
    </div>
    
    <div class="container mt-5 mb-5">
        
    </div>
    
    
    
    <section class="container-fluid" style="background-color:black" ;="">
        <h3 style="text-align:center; color:#D35400; padding-top:50px" ;="">INDUSTRIAL DEMANDS</h3>
        <p style="font-family:Adobe Gothic Std B; font-size:25px;color:white;margin-top:30px; padding-bottom:90px" ;=""><strong>Energy
 control lies at the very foundation of human civilization. As it helps 
man to adapt and gain an advantage over his environment. Good energy 
management is inevitable in maintaining a functional society because a 
reliable power supply is critical. SwitchGreen employs Logstrup's low 
voltage modular solutions that are fully customizable across brands. The
 system is thoroughly tested and is one of the best low-voltage 
solutions in the market. It is a valid option for high-impact 
industries, government projects, Hospitals, Hotels, and other demanding 
environments.
</strong></p>
    </section>
    
    <div class="container-fluid" style="padding-top: 20px; background-color:LightGray">
        <div class="row">
            <div class="col-md-12 pt-4 mb-4">
                <h4 class="mb-4" style="color:#D35400">SWITCHBOARDS</h4><hr>
                <p style="font-size:15px">SwitchGreen is the distributor of Logstrup switchboards and switchgear in Nigeria.
</p>
                <p>Switchboards direct electric current from one or more
 sources to sub-distribution channels. Your requirements will determine 
the design, including the number of panels, components, and size of your
 custom switchboard.</p>
<p style="font-size:15px">Our switchboard designs conform to the highest
 standards. And this helps to maximize their uptime and lifespan, 
leading to a low cost of ownership in the long run.
</p>
            </div>
        </div>
        <h3 style="text-align:center;color:#D35400">SWITCHGEAR</h3><hr>
        <div class="row">
            <div class="col-12 mt-0 mb-4 my-md-5">
                <h4 class="text-center mb-4 d-block d-md-none">Motor Control Center</h4>
                <div class="row align-items-center py-md-5">
                    <div class="col-md-6 mb-2 my-md-0">
                        <img src="index_files/motor%2520control.jpg" alt="switchgreen motor control" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="col-md-6">
                        <h4 class="d-none d-md-block mb-4">Motor Control Center</h4>
                        <p style="font-family:Abel">Our MCC or Motor 
Control Center offers a central location to house the components that 
control all the electric motors that power your machinery. The MCC 
combines transformers, panelboards, and switchboards, depending on your 
needs.</p>
                        <p style="font-family:Tisa"> Other components 
generally include fuses, motor starters, circuit breakers, and indicator
 lights. Our experienced engineers will work with you to determine your 
project's needs. Then, implement the right solutions.
                            </p>

                        <p><a href="https://switchgreenltd.com.ng/Contact_us" class="btn btn-dark">Let Us Talk<i class="fa fa-angle-double-right icon-double-angle-right" style="margin-left:10px;"></i></a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-12 mt-0 mb-4 my-md-5 pb-md-5">
                <strong><h4 class="text-center mb-4 d-block d-md-none">Control Panels</h4></strong>
                <div class="row align-items-center py-md-5">
                    <div class="col-md-6 order-md-2 mb-4 my-md-0">
                        <img src="index_files/control%2520panels.jpg" alt="switchgreen control panels" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="col-md-6">
                        <strong><h4 class="d-none d-md-block mb-4">Control Panels</h4></strong>
                        <p>SwitchGreen offers all of Logstrup's control and process panels for your industrial applications.
                        </p>
                        <p>The standard panels have an IP54 ingress 
protection rating. But you can also opt for custom-welded IP65 cabinets 
with dust and water ingress protection. These are available in black and
 stainless steel variants.</p>
                    <p>All our panels meet or exceed the IEC 61439-1/2 
international standards for control gear assembly. They are tested 
accordingly to ensure quality and durability.
                         </p>
                    <p>We also include detailed documentation with your 
control panels. This usually features arrangement drawings, parts lists,
 wiring diagrams, programming, operation, and maintenance instructions.
                        </p>
                     <p><a href="https://switchgreenltd.com.ng/Contact_us" class="btn btn-dark">Let Us Talk<i class="fa fa-angle-double-right icon-double-angle-right" style="margin-left:10px;"></i></a>
                    </p></div>
                </div>
            </div>
            <div class="col-12 mt-0 mb-4 my-md-5">
                <h4 class="text-center mb-4 d-block d-md-none">Distribution Panels</h4>
                <div class="row align-items-center py-md-5">
                    <div class="col-md-6 mb-2 my-md-0">
                        <img src="index_files/distribution%2520panels.jpg" alt="switchgreen motor control" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="col-md-6">
                        <h4 class="d-none d-md-block mb-4">Distribution Panels</h4>A distribution panel channels incoming power into smaller circuits while protecting the circuitry with a fuse or breaker.
                        <p></p>
                        <p>Our distribution panels range from 63A to 8500A, with short circuit levels up to 165kA/1 sec.
                           </p>
                        <p style="font-family:Tisa">SwitchGreen is your 
reliable Nigerian partner for designing custom distribution panels to 
power your unique applications using Logstrup modules.
                        </p>
                        <p><a href="https://switchgreenltd.com.ng/Contact_us" class="btn btn-dark">Let Us Talk<i class="fa fa-angle-double-right icon-double-angle-right" style="margin-left:10px;"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col-12 mt-0 mb-4 my-md-5 pb-md-5">
                <strong><h4 class="text-center mb-4 d-block d-md-none">Integrated Container Solutions</h4></strong>
                <div class="row align-items-center py-md-5">
                    <div class="col-md-6 order-md-2 mb-4 my-md-0">
                        <img src="index_files/Integrated-Container-Solutions.jpg" alt="switchgreen control panels" class="img-fluid d-block mx-auto">
                    </div>
                    <div class="col-md-6">
                        <strong><h4 class="d-none d-md-block mb-4">Integrated Container Solution</h4></strong>
                        <p>SwitchGreen also provides integrated 
container solutions or e-houses for your various projects. These 
containerized solutions are perfect for sites where little setup time is
 needed or the environment is challenging within Nigeria and beyond.
                          </p>

                    <p>The containers get customized to your needs or 
specifications. They can include control and distribution panels, a UPS 
system, climate control, and other components that your project 
requires.
                     </p>

                    <p>You can also decide on the e-house size, colour, 
window, and door dimensions. Or on the flooring, insulation, and other 
special needs.
                      </p>
                     <p><a href="https://switchgreenltd.com.ng/Contact_us" class="btn btn-dark">Let Us Talk<i class="fa fa-angle-double-right icon-double-angle-right" style="margin-left:10px;"></i></a>
                    </p></div>
                </div>
            </div>
            </div>
            </div>
            </div>
    <div class="container-fluid" style="text-align: center; padding:50px;  background-color:#F0F8FF">
        <h2 style="color:rgb(128, 128, 128);">Our Partnership</h2>
        <i class="fa fa-minus fa-1x" style="color:#F0FFF0" ;=""></i>
    </div>
    <section style="padding-left:5px; padding-bottom:10px; background-color:#F0F8FF">
       <a href="https://www.logstrup.com/"><img src="index_files/LogstrupLogo.png" class="center" alt="logstruppartnership" style="width:350px;"></a><a>
    </a></section><a>
</a><div class="container-fluid py-5 bg-light"><a>
      </a><div class="container"><a>
        </a><div class="row"><a>
          </a><div class="col-12 text-center"><a>
            <h1>Get in touch today! </h1>
            <p>Ready to start your project? Give us a call or send an email. We will promptly get back to you.
            </p>
            </a><a href="https://switchgreenltd.com.ng/Contact_us" class="btn btn-dark mt-3">Contact us</a>
          </div>
        </div>
      </div>
    </div>
    <footer class="py-5 py-md-0">
    <hr class="mt-0 mb-2">
    <div class="container">
        <!--  shadow rounded-top pt-2 -->
        <div class="row align-items-center justify-content-around">
            <div class="col-6 col-md-3 mb-3 order-md-first order-2 pl-md-0">
                <div class="col-md-9 pl-md-0 mb-3">
                    <img src="index_files/company%2520logo.png" alt="switchgreen Logo" class="img-fluid d-block mx-auto">
                </div>
            </div>
            <div class="col-12 col-md-5 mb-3">
                <div class="row links">
                    <div class="col-6">
                        <div class="nav flex-column">
                            <a class="nav-link d-inline-block " href="index.html"><span style="color:#808080">Home</span></a>
                            <a class="nav-link d-inline-block " href="Company.html"><span style="color:#808080">Company</span></a>
                            <a class="nav-link d-inline-block " href="Product.html"><span style="color:#808080">Products</span></a>

                        </div>
                    </div>
                    <div class="col-6">
                        <div class="nav flex-column">
                            <a class="nav-link d-inline-block " href="Services.html"><span style="color:#808080">Services</span></a>
                            <a class="nav-link d-inline-block " href="Contact_us.html"><span style="color:#808080">Contact us</span></a>
                            <a class="nav-link d-inline-block " href="https://switchgreenltd.com.ng/blog"><span style="color:#808080">Blog</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-last col-5 col-md-3 mb-3 pl-0 pl-md-3">
                <p class="mb-2 font-weight-bold small"><span style="color:#808080">Follow Us</span></p>
                <div class="btn-group btn-flex socials">
                <a class="fb-ic" style="color:blue" href="https://web.facebook.com/Switchgreen-Energy-Ltd-101596648337805/">
                           <i class="fab fa-facebook-f white-text mr-4"> </i>
                       </a>
                <a class="tw-ic" style="color:#00BFFF" ;="">
                           <i class="fab fa-twitter white-text mr-4"> </i>
                       </a>
                   

                     <!--Linkedin -->
                     <a class="li-ic" style="color:#0000FF" ;="">
                           <i class="fab fa-linkedin-in white-text mr-4"> </i>
                       </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-md-center">
             <a href="https://switchgreenltd.com.ng/Logstrup_Switchgreen_OEM_Certification.pdf" style="color:green;">Our OEM Certification</a>
            <p class="my-0 mx-auto py-2">Copyright © 2021 SwitchGreen Ltd.</p>
        </div>
    </div>
</footer>


   <script src="index_files/jquery-3.js"></script>
   <script src="index_files/popper.js"></script>
   <script src="index_files/bootstrap.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="index_files/js.js"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H5ZF3NPLRD');
</script>

   

   
</body></html>
